<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style type="text/css">
    select
    {
      width: 40px;
    }
  </style>
  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<body>
  <a href="/logout">Log out</a>
    <div id="IncomeTable">

<table class='table'>
  <tr>
    <td width="25%">Company Code</td>
    <td><select required>
      <option>-A-</option>
      <option value="Airline">Airline</option>
      <option value="Automobile Manufacturing">Automobile Manufacturing</option>
      <option value="Hyper Market Chain">Hyper Market Chain</option>
      <option value="Search Service">Search Service</option>
      <option value="Steel Producer">Steel Producer</option>
      <option value="Quick Service Resturant">Quick Service Resturant</option>
      <option value="Software Services">Software Services</option>
      <option value="Cement">Cement</option>
      <option value="Healthcare">Healthcare</option>
      <option value="Real State Developer">Real State Developer</option>
      <option value="Retail Jewelry Store">Retail Jewelry Store</option>
      <option value="Hotel Chain">Hotel Chain</option>
      <option value="Financial Services">Financial Services</option>
      <option value="Agricultural Product">Agricultural Product</option>
    </select></td>
    <td><select required>
      <option>-B-</option>
      <option value="Airline">Airline</option>
      <option value="Automobile Manufacturing">Automobile Manufacturing</option>
      <option value="Hyper Market Chain">Hyper Market Chain</option>
      <option value="Search Service">Search Service</option>
      <option value="Steel Producer">Steel Producer</option>
      <option value="Quick Service Resturant">Quick Service Resturant</option>
      <option value="Software Services">Software Services</option>
      <option value="Cement">Cement</option>
      <option value="Healthcare">Healthcare</option>
      <option value="Real State Developer">Real State Developer</option>
      <option value="Retail Jewelry Store">Retail Jewelry Store</option>
      <option value="Hotel Chain">Hotel Chain</option>
      <option value="Financial Services">Financial Services</option>
      <option value="Agricultural Product">Agricultural Product</option>
    </select></td><td><select required>
      <option>-C-</option>
      <option value="Airline">Airline</option>
      <option value="Automobile Manufacturing">Automobile Manufacturing</option>
      <option value="Hyper Market Chain">Hyper Market Chain</option>
      <option value="Search Service">Search Service</option>
      <option value="Steel Producer">Steel Producer</option>
      <option value="Quick Service Resturant">Quick Service Resturant</option>
      <option value="Software Services">Software Services</option>
      <option value="Cement">Cement</option>
      <option value="Healthcare">Healthcare</option>
      <option value="Real State Developer">Real State Developer</option>
      <option value="Retail Jewelry Store">Retail Jewelry Store</option>
      <option value="Hotel Chain">Hotel Chain</option>
      <option value="Financial Services">Financial Services</option>
      <option value="Agricultural Product">Agricultural Product</option>
    </select></td><td><select required>
      <option>-D-</option>
      <option value="Airline">Airline</option>
      <option value="Automobile Manufacturing">Automobile Manufacturing</option>
      <option value="Hyper Market Chain">Hyper Market Chain</option>
      <option value="Search Service">Search Service</option>
      <option value="Steel Producer">Steel Producer</option>
      <option value="Quick Service Resturant">Quick Service Resturant</option>
      <option value="Software Services">Software Services</option>
      <option value="Cement">Cement</option>
      <option value="Healthcare">Healthcare</option>
      <option value="Real State Developer">Real State Developer</option>
      <option value="Retail Jewelry Store">Retail Jewelry Store</option>
      <option value="Hotel Chain">Hotel Chain</option>
      <option value="Financial Services">Financial Services</option>
      <option value="Agricultural Product">Agricultural Product</option>
    </select></td><td><select required>
      <option>-E-</option>
      <option value="Airline">Airline</option>
      <option value="Automobile Manufacturing">Automobile Manufacturing</option>
      <option value="Hyper Market Chain">Hyper Market Chain</option>
      <option value="Search Service">Search Service</option>
      <option value="Steel Producer">Steel Producer</option>
      <option value="Quick Service Resturant">Quick Service Resturant</option>
      <option value="Software Services">Software Services</option>
      <option value="Cement">Cement</option>
      <option value="Healthcare">Healthcare</option>
      <option value="Real State Developer">Real State Developer</option>
      <option value="Retail Jewelry Store">Retail Jewelry Store</option>
      <option value="Hotel Chain">Hotel Chain</option>
      <option value="Financial Services">Financial Services</option>
      <option value="Agricultural Product">Agricultural Product</option>
    </select></td><td><select required>
      <option>-F-</option>
      <option value="Airline">Airline</option>
      <option value="Automobile Manufacturing">Automobile Manufacturing</option>
      <option value="Hyper Market Chain">Hyper Market Chain</option>
      <option value="Search Service">Search Service</option>
      <option value="Steel Producer">Steel Producer</option>
      <option value="Quick Service Resturant">Quick Service Resturant</option>
      <option value="Software Services">Software Services</option>
      <option value="Cement">Cement</option>
      <option value="Healthcare">Healthcare</option>
      <option value="Real State Developer">Real State Developer</option>
      <option value="Retail Jewelry Store">Retail Jewelry Store</option>
      <option value="Hotel Chain">Hotel Chain</option>
      <option value="Financial Services">Financial Services</option>
      <option value="Agricultural Product">Agricultural Product</option>
    </select></td><td><select required>
      <option>-G-</option>
      <option value="Airline">Airline</option>
      <option value="Automobile Manufacturing">Automobile Manufacturing</option>
      <option value="Hyper Market Chain">Hyper Market Chain</option>
      <option value="Search Service">Search Service</option>
      <option value="Steel Producer">Steel Producer</option>
      <option value="Quick Service Resturant">Quick Service Resturant</option>
      <option value="Software Services">Software Services</option>
      <option value="Cement">Cement</option>
      <option value="Healthcare">Healthcare</option>
      <option value="Real State Developer">Real State Developer</option>
      <option value="Retail Jewelry Store">Retail Jewelry Store</option>
      <option value="Hotel Chain">Hotel Chain</option>
      <option value="Financial Services">Financial Services</option>
      <option value="Agricultural Product">Agricultural Product</option>
    </select></td><td><select required>
      <option>-H-</option>
      <option value="Airline">Airline</option>
      <option value="Automobile Manufacturing">Automobile Manufacturing</option>
      <option value="Hyper Market Chain">Hyper Market Chain</option>
      <option value="Search Service">Search Service</option>
      <option value="Steel Producer">Steel Producer</option>
      <option value="Quick Service Resturant">Quick Service Resturant</option>
      <option value="Software Services">Software Services</option>
      <option value="Cement">Cement</option>
      <option value="Healthcare">Healthcare</option>
      <option value="Real State Developer">Real State Developer</option>
      <option value="Retail Jewelry Store">Retail Jewelry Store</option>
      <option value="Hotel Chain">Hotel Chain</option>
      <option value="Financial Services">Financial Services</option>
      <option value="Agricultural Product">Agricultural Product</option>
    </select></td><td><select required>
      <option>-I-</option>
      <option value="Airline">Airline</option>
      <option value="Automobile Manufacturing">Automobile Manufacturing</option>
      <option value="Hyper Market Chain">Hyper Market Chain</option>
      <option value="Search Service">Search Service</option>
      <option value="Steel Producer">Steel Producer</option>
      <option value="Quick Service Resturant">Quick Service Resturant</option>
      <option value="Software Services">Software Services</option>
      <option value="Cement">Cement</option>
      <option value="Healthcare">Healthcare</option>
      <option value="Real State Developer">Real State Developer</option>
      <option value="Retail Jewelry Store">Retail Jewelry Store</option>
      <option value="Hotel Chain">Hotel Chain</option>
      <option value="Financial Services">Financial Services</option>
      <option value="Agricultural Product">Agricultural Product</option>
    </select></td><td><select required>
      <option>-J-</option>
      <option value="Airline">Airline</option>
      <option value="Automobile Manufacturing">Automobile Manufacturing</option>
      <option value="Hyper Market Chain">Hyper Market Chain</option>
      <option value="Search Service">Search Service</option>
      <option value="Steel Producer">Steel Producer</option>
      <option value="Quick Service Resturant">Quick Service Resturant</option>
      <option value="Software Services">Software Services</option>
      <option value="Cement">Cement</option>
      <option value="Healthcare">Healthcare</option>
      <option value="Real State Developer">Real State Developer</option>
      <option value="Retail Jewelry Store">Retail Jewelry Store</option>
      <option value="Hotel Chain">Hotel Chain</option>
      <option value="Financial Services">Financial Services</option>
      <option value="Agricultural Product">Agricultural Product</option>
    </select></td><td><select required>
      <option>-K-</option>
      <option value="Airline">Airline</option>
      <option value="Automobile Manufacturing">Automobile Manufacturing</option>
      <option value="Hyper Market Chain">Hyper Market Chain</option>
      <option value="Search Service">Search Service</option>
      <option value="Steel Producer">Steel Producer</option>
      <option value="Quick Service Resturant">Quick Service Resturant</option>
      <option value="Software Services">Software Services</option>
      <option value="Cement">Cement</option>
      <option value="Healthcare">Healthcare</option>
      <option value="Real State Developer">Real State Developer</option>
      <option value="Retail Jewelry Store">Retail Jewelry Store</option>
      <option value="Hotel Chain">Hotel Chain</option>
      <option value="Financial Services">Financial Services</option>
      <option value="Agricultural Product">Agricultural Product</option>
    </select></td><td><select required>
      <option>-L-</option>
      <option value="Airline">Airline</option>
      <option value="Automobile Manufacturing">Automobile Manufacturing</option>
      <option value="Hyper Market Chain">Hyper Market Chain</option>
      <option value="Search Service">Search Service</option>
      <option value="Steel Producer">Steel Producer</option>
      <option value="Quick Service Resturant">Quick Service Resturant</option>
      <option value="Software Services">Software Services</option>
      <option value="Cement">Cement</option>
      <option value="Healthcare">Healthcare</option>
      <option value="Real State Developer">Real State Developer</option>
      <option value="Retail Jewelry Store">Retail Jewelry Store</option>
      <option value="Hotel Chain">Hotel Chain</option>
      <option value="Financial Services">Financial Services</option>
      <option value="Agricultural Product">Agricultural Product</option>
    </select></td><td><select required>
      <option>-M-</option>
      <option value="Airline">Airline</option>
      <option value="Automobile Manufacturing">Automobile Manufacturing</option>
      <option value="Hyper Market Chain">Hyper Market Chain</option>
      <option value="Search Service">Search Service</option>
      <option value="Steel Producer">Steel Producer</option>
      <option value="Quick Service Resturant">Quick Service Resturant</option>
      <option value="Software Services">Software Services</option>
      <option value="Cement">Cement</option>
      <option value="Healthcare">Healthcare</option>
      <option value="Real State Developer">Real State Developer</option>
      <option value="Retail Jewelry Store">Retail Jewelry Store</option>
      <option value="Hotel Chain">Hotel Chain</option>
      <option value="Financial Services">Financial Services</option>
      <option value="Agricultural Product">Agricultural Product</option>
    </select></td>
    <td><select required>
      <option>-N-</option>
      <option value="Airline">Airline</option>
      <option value="Automobile Manufacturing">Automobile Manufacturing</option>
      <option value="Hyper Market Chain">Hyper Market Chain</option>
      <option value="Search Service">Search Service</option>
      <option value="Steel Producer">Steel Producer</option>
      <option value="Quick Service Resturant">Quick Service Resturant</option>
      <option value="Software Services">Software Services</option>
      <option value="Cement">Cement</option>
      <option value="Healthcare">Healthcare</option>
      <option value="Real State Developer">Real State Developer</option>
      <option value="Retail Jewelry Store">Retail Jewelry Store</option>
      <option value="Hotel Chain">Hotel Chain</option>
      <option value="Financial Services">Financial Services</option>
      <option value="Agricultural Product">Agricultural Product</option>
    </select></td>
    </tr>
    <tr>
      <td colspan="15">
      <button type="button" onclick="showCustomer('bs1.php')"><b>INCOME STATEMENT (Common Size)</b></button>
      </td>
    </tr>

      <div id = 'IncomeStatement'>
      {% for row in balanceSheet %}
              <tr>
                {% for element in row %}
                {% if element == row[0] %}
                 <td><button>{{element}}</button></td>
                {% else %}
                 <td>{{element}}</td>
                 {% endif %}
                {% endfor %}
              </tr>
        {% endfor %}
    </div>

<tr>
      <td colspan="15">
<button type="button" onclick="showCustomer('bs2.php')"><b>BALANCE SHEET (Common Size)</b></button>
    </td>
  </tr>
    <div id = 'BalanceSheet'>
        {% for row in balanceSheet %}
              <tr>
                {% for element in row %}
                {% if element == row[0] %}
                 <td><button>{{element}}</button></td>
                {% else %}
                 <td>{{element}}</td>
                 {% endif %}
                {% endfor %}
              </tr>
        {% endfor %}
      </div>

<tr>
      <td colspan="15">
<button type="button" onclick="showCustomer('bs3.php')"><b>RATIOS</b></button>
    </td>
</tr>
<div id = 'Ratios'>
    {% for row in ratios %}
          <tr>
                {% for element in row %}
                {% if element == row[0] %}
                 <td><button>{{element}}</button></td>
                {% else %}
                 <td>{{element}}</td>
                 {% endif %}
                {% endfor %}
              </tr>
    {% endfor %}
  </div>

</table>
</div>

<script>
function showCustomer(abc) {
  var xhttp;    
  
  xhttp = new XMLHttpRequest();
  xhttp.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {
      document.getElementById('txtHint').innerHTML = this.responseText;
    }
  };
  xhttp.open("GET", abc, true);
  xhttp.send();
}


</script>


</body>
</html>